body {
  color: white;
  letter-spacing: 1px;
  font-family: monospace;
  /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  margin: 0;
  background-color: #e91e63;
}
a {
  text-decoration: none;
  color: white;
}
h1 {
  text-align: center;
  font-size: 40px;
  padding: 1rem;
  margin: auto;
  transition: font-size 0.5s;
  transition-timing-function: ease-in-out;
}
/* h1 p {
  margin: 0;
  margin-top: -5px;
  font-size: 24.5px;
  opacity: 1;
  transition: opacity 0.5s;
  transition-timing-function: ease-in-out;
} */

h1:hover {
  font-size: 45px;
}
/* h1 p:hover{
  opacity: 0;
} */
.text-intro {
  margin: auto;
  padding: 0 2rem;
  transform: translateY(100%);
}
.text-intro p {
  font-size: 17px;
  font-weight: bolder;
  text-align: center;
}

.form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 47%;
  transform: translate(0, 47%);
}
.form-container form {
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.form-container form input {
  width: 20rem;
  height: 2.3rem;
  border: none;
  font-size: 18.5px;
  transition: height 0.5s;
  letter-spacing: 0.8px;
  color: #222121;
}
.form-container form input:focus {
  outline-color: #e91e63;
  height: 3.3rem;
}

button {
  width: 3rem;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  margin-left: -10px;
  position: absolute;
  right: 0;
}
.fa-wand-magic-sparkles {
  font-size: 24px;
  transition: color 0.2s;
  transition-timing-function: ease-in-out;
}
.fa-wand-magic-sparkles:hover {
  color: #e91e63;
}
input,
button,
.slides,
.slides img {
  border-radius: 5px;
}
.nav-bar {
  position: absolute;
  top: 120%;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}
.nav-bar a {
  padding: 5px;
  transition: font-size 0.1s, font-weight 0.1s, color 0.1s;
  transition-timing-function: ease-in-out;
}
.nav-bar a:hover {
  font-size: 17px;
  font-weight: bold;
  color: #222121;
}
.results-text {
  display: none;
  margin: auto;
  width: 91%;
  opacity: 0;
  font-size: 16px;
}
.wrapper {
  width: 100%;
  height: 0px;
  background-color: green;
  text-align: center;
  position: absolute;
  bottom: 0;
  transform: translateY(0);
}
.see-more-btn {
  background-color: #808080b3;
  width: 87px;
  height: 25px;
  right: 5%;
  top: 5%;
  color: white;
  font-weight: bold;
}
.wrapper-container {
  display: none;
}

.see-more-wrapper {
  display: none;
  background-color: #070707a5;
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-top: 15px;
}
.see-more-wrapper .slides {
  position: unset;
  display: flex;
}
.see-more-wrapper .title-text {
  position: unset;
  display: block;
  height: auto;
  margin: auto;
  background-color: white;
  color: #222121;
  border-radius: 5px;
  padding: 8px;
  font-weight: bold;
}
.see-more-wrapper .title-text p {
  margin: 0;
}
.see-more-wrapper .title-text a {
  margin-left: 0;
  margin-right: 0;
}

/* .fa-circle-chevron-right {
  position: fixed;
  padding: 0.5rem;
  font-size: 43px;
  bottom: 70px;
  right: 15px;
  color: #e91e63;
  background-color: #a2a1a1b8;
  border-radius: 50px;
} */
/* slides */
.slides {
  position: relative;
  margin: auto;
  margin-bottom: 14px;
  width: 92%;
}
.slides img {
  display: block;
  margin: auto;
  width: 100%;
  height: 240px;
}
.title-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 55px;
  margin: auto;
  display: flex;
  align-items: center;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  background-color: #000000de;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.title-text a {
  color: #e91e63;
  margin-left: 15px;
  margin-right: 5px;
  text-decoration: none;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 65px;
}
footer p {
  margin: 0;
  margin-right: 10px;
}
footer img {
  width: 62px;
}
@media screen and (min-width: 412px) {
  .text-intro {
    transform: translateY(200%);
  }
  .move-wrapper {
    bottom: 76% !important;
  }
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 60px;
    transition: font-size 0.5s;
    transition-timing-function: ease-in-out;
  }
  h1:hover {
    font-size: 90px;
  }
  .text-intro {
    padding: 0 10rem;
    transform: translateY(320%);
  }
  .wrapper {
    display:inline-block
  }
  .slides {
    width: 29%;
    margin: 10px;
    display: inline-flex;
    box-shadow: 0 0 12px #000000d6;;
    transition: width 0.1s;
    transition-timing-function: ease-in-out;

  }
  .slides:hover{
    width: 30%;
     height: 241px; 
  }
  .slide img{
    transition: height 0.1s;
    transition-timing-function:ease-in-out;
  }
  .slides img:hover{
    height: 241px;
  }
  .title-text{
    font-size: 12px;
  }
}

@media screen and (min-width: 820px) {
.show-text{
  margin-top: 45px;
}
}

/* ========= Dinamycally added attributes with animation ============ */
/* hide text-intro container */
.hide {
  transition: transform 1s, opacity 1s;
  transition-timing-function: ease-in-out;
}
.hide {
  transform: translateY(0);
  opacity: 0;
}
.move-form {
  transition: top 1s;
  transition-timing-function: ease-in-out;
}
.move-form {
  top: 10%;
}
.move-form .nav-bar {
  transition: top 1s;
  transition-timing-function: ease-in-out;
}
.move-form .nav-bar {
  top: -80%;
}
.show-text {
  transition: display 1s, opacity 1s;
  transition-timing-function: ease-in-out;
}
.show-text {
  display: flex;
  opacity: 1;
  align-items: center;
}
.move-wrapper {
  transition: bottom 1s;
  transition-timing-function: ease-in-out;
}
.move-wrapper {
  bottom: 69%;
}
.alter-footer {
  transition: height 1s, background-color 1s;
  transition-timing-function: ease-in-out;
}
.alter-footer {
  background-color: #e91e62;
  height: 40px;
}
.alter-footer img {
  transition: width 1s;
}
.alter-footer img {
  width: 40px;
}
/* =============================================================== */
/*.carousel {
  width: 100%;
  max-height: 229px;
  position: relative;
  margin: auto;
  margin-bottom: 50px;
}
.slides {
  width: 100%;
  max-height: 229px;
}
.slides img {
  width: 100%;
  height: 229px;
  max-height: 229px;
}
 Name animation and duration 
.fade{
  animation-name: fade;
  animation-duration: 1s;
}
 How the animation will occur 
@keyframes fade {
  from{opacity: .4;}
  to{opacity: 1;}
}

.title-text {
  position: absolute;
  bottom: 0%;
  padding: 12px;
  text-align: center;
  color: white;
  font-weight: bolder;
  background-color: #0c0c0c82;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  color: #fdfffd;
  top: 47%;
  padding: 4px 8px;
  font-size: 21px;
  background-color: #8080803b;
  margin-left: 5px;
  transition: 0.3s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 1;
}
.next {
  right: 0%;
  margin-right: 5px;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
*/
