.move-form .nav-bar {
  transition: top 1s;
  transition-timing-function: ease-in-out;
}
.move-form .nav-bar {
  top: -60%;
}
body {
  color: white;
  letter-spacing: 1px;
  font-family: monospace;
  /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  margin: 0;
  background-color: #e91e63;
}
a {
  text-decoration: none;
  color: white;
}
h1 {
  text-align: center;
  font-size: 40px;
  padding: 1rem;
  margin: auto;
  transition: font-size 0.5s;
  transition-timing-function: ease-in-out;
}

h1:hover {
  font-size: 45px;
}

.text-intro {
  margin: auto;
  padding: 0 2rem;
  transform: translateY(100%);
}
.text-intro p {
  font-size: 17px;
  font-weight: bolder;
  text-align: center;
}

.form-container {
  width: 100%;
  display: block;
  text-align: center;
  margin-top: 15px;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 46%;
  /* transform: translate(0, 0); */
}
.form-container form {
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.form-container form input {
  width: 20rem;
  height: 2.3rem;
  border: none;
  font-size: 18.5px;
  transition: height 0.5s;
  letter-spacing: 0.8px;
  color: #222121;
}
.form-container form input:focus {
  outline-color: #e91e63;
  height: 3.3rem;
}

button {
  width: 3rem;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  margin-left: -10px;
  position: absolute;
  right: 0;
}
.fa-wand-magic-sparkles {
  font-size: 24px;
  transition: color 0.2s;
  transition-timing-function: ease-in-out;
}
.fa-wand-magic-sparkles:hover {
  color: #e91e63;
}

input,
button,
.slides,
.slides img {
  border-radius: 5px;
}
.classifications-container {
  width: fit-content;
  position: absolute;
  margin: 0 15px;
  text-align: left;
}
.classifications-container > p:first-child {
  width: fit-content;
  font-weight: bold;
  font-size: 19px;
  margin-top: 10px;
  margin-bottom: 0;
  font-style: italic;
  background-color: #00000087;
  padding: 1px 4px;
  border-radius: 5px;
  color: #e91e63;
  font-family: cursive;
  text-shadow: 1px 0px #a9a6a6;
}
.classifications-container > p:nth-child(2) {
  margin-top: 0;
  font-weight: 600;
  text-decoration: underline;
  font-size: 14px;
  text-shadow: 1.5px 1px black;
}
.nav-bar {
  position: absolute;
  top: 120%;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}
.nav-bar a {
  padding: 5px;
  transition: font-size 0.1s, font-weight 0.1s, color 0.1s;
  transition-timing-function: ease-in-out;
}
.nav-bar a:hover {
  font-size: 17px;
  font-weight: bold;
  color: #222121;
}
.results-text {
  display: none;
  margin: auto;
  width: 100%;
  opacity: 0;
  font-size: 16px;
}
.results-text p {
  margin: 15px 9%;
  text-align: left;
}
.results-text-2 {
  margin: 15px;
}
.wrapper {
  width: 90%;
  height: 0px;
  margin: auto;
}
.see-more-btn {
  background-color: #808080b3;
  width: 87px;
  height: 25px;
  right: 5%;
  top: 5%;
  color: white;
  font-weight: bold;
}
.wrapper-container {
  display: none;
  position: relative;
  background-color: black;
  padding: 10px 15px;
}
.fa-xmark {
  position: absolute;
  top: 15px;
  right: 6%;
  font-size: 30px;
  color: #e91e63d6;
}
.see-more-wrapper {
  display: none;
  background-color: #070707a5;
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-top: 15px;
}
.see-more-wrapper .slides {
  position: unset;
  display: flex;
}
.see-more-wrapper .title-text {
  position: unset;
  display: block;
  height: auto;
  margin: auto;
  background-color: white;
  color: #222121;
  border-radius: 5px;
  padding: 8px;
  font-weight: bold;
}
.see-more-wrapper .title-text p {
  margin: 0;
}
.see-more-wrapper .title-text a {
  margin-left: 0;
  margin-right: 0;
}
/* slides */
.slides {
  position: relative;
  margin: auto;
  margin-bottom: 14px;
  width: 100%;
}
.slides img {
  display: block;
  margin: auto;
  width: 100%;
  height: 240px;
}

.musicbrainz-icon {
  height: 20px !important;
  width: auto !important;
  margin: 0 !important;
  position: absolute;
  bottom: 37%;
  right: 0;
  background-color: #06060654;
}

.title-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 55px;
  margin: auto;
  display: flex;
  align-items: center;
  text-align: left;
  overflow: hidden;
  font-size: 16px;
  font-weight: bold;
  background-color: #000000de;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.title-text a {
  color: #e91e63;
  margin-left: 15px;
  margin-right: 5px;
  text-decoration: none;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 65px;
}
footer p {
  margin: 0;
  margin-right: 10px;
}
footer img {
  width: 62px;
}
.externalLinks-container {
  position: absolute;
  bottom: 52px;
  width: 100%;
}
.externalLinks-ul-container {
  list-style: none;
  display: inline-flex;
  padding-left: 0;
  margin: 2px auto;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #ffffff8f;
}

.externalLink-item {
  font-size: 22px;
  margin: 0 6px;
  margin-top: 1.5px;
}
.externalLink-item > a {
  color: #e91e63;
}
@media screen and (min-width: 412px) {
  .form-container {
    margin-top: auto;
  }

  .text-intro {
    transform: translateY(200%);
  }
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 60px;
    transition: font-size 0.3s;
    transition-timing-function: ease-in-out;
  }
  h1:hover {
    font-size: 65px;
  }
  .text-intro {
    padding: 0 10rem;
    transform: translateY(320%);
  }
  .move-form .nav-bar {
    top: -2%;
  }
  .wrapper {
    display: inline-block;
  }
  .slides {
    width: 46%;
    margin: 5px 0;
    display: inline-flex;
  }
  .wrapper > .slides {
    box-shadow: 0 0 12px #000000d6;
    transition: box-shadow 0.1s;
    transition-timing-function: ease-in-out;
  }
  .wrapper > .slides:hover {
    box-shadow: 0 0 12px white;
  }
  /* .wrapper > .slide img {
    transition: height 0.1s;
    transition-timing-function: ease-in-out;
  }
  .wrapper > .slides img:hover {
    height: 241px;
  } */
  .title-text {
    font-size: 12px;
  }
  .see-more-wrapper {
    text-align: center;
  }
  .see-more-wrapper .slides {
    display: inline-flex;
  }
}

@media screen and (min-width: 820px) {
  .show-text {
    margin-top: 45px;
  }
  .slides {
    width: 49% !important;
    display: inline-flex !important;
  }
}

@media screen and (min-width: 992px) {
  .slides {
    width: 20%;
  }
  .wrapper > .slides:hover {
    width: 21%;
    height: 241px;
  }
  .move-form .nav-bar {
    top: -3%;
  }
  .wrapper > .slides:last-child {
    margin-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .slides {
    width: 17%;
  }
  .wrapper > .slides:hover {
    width: 18%;
  }
}

/* ========= Dinamycally added attributes with animation ============ */
/* hide text-intro container */
.hide {
  transition: transform 1s, opacity 1s;
  transition-timing-function: ease-in-out;
}
.hide {
  transform: translateY(0);
  opacity: 0;
}
.move-form {
  transition: top 1s;
  transition-timing-function: ease-in-out;
}
.move-form {
  top: 120px;
  transform: translate(0, 0);
}

.show-text {
  transition: display 1s, opacity 1s;
  transition-timing-function: ease-in-out;
}
.show-text {
  display: block;
  opacity: 1;
}

.alter-footer {
  transition: height 1s, background-color 1s;
  transition-timing-function: ease-in-out;
}
.alter-footer {
  background-color: #e91e62;
  height: 40px;
}
.alter-footer img {
  transition: width 1s;
}
.alter-footer img {
  width: 40px;
}
